body {
	margin: 0;
	padding: 3px;
	background-color: black;
	color: white;
	font-family: Courier New
}

.btn, .speedBtn {
	border: 1px white solid;
	padding: 6px;
	margin: 3px;
}

.dummyLanguageBtn {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 10px;
	margin-right: 10px;
	flex: 1;
}

.speedBtn {
	flex: 1;
}

#content, #cookieWarning {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#textToShow, .flexText {
	flex: 1;
}

.title {
	padding: 3px;
	text-align: center;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 360px;
	max-height: 800px;
}

.link {
	color: white;
}

.noUnderline {
	text-decoration: none;
}

.activeSetting {
	background-color: white;
	color: black;
}